PG_URL=jdbc:postgresql://localhost:5432
PG_DB=spark_db
PG_USER=spark_user
PG_PASS=
CH_HOST=localhost
CH_PORT=8123
CH_DB=analytics_db
CH_USER=spark_user
CH_PASS=
MNG_URL=localhost:27017
MNG_DB=mng_db
MNG_USER=spark_user
MNG_PASS=
S3_ENDPOINT=http://localhost:9002
S3_USER=minio_admin
S3_PASS=